BibFilm {
  /* background-color:red; */
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:2rem;
  flex-direction: column;
  padding:5rem 0rem;
  text-transform: uppercase;
}
film {
  border:2px solid #333;
  padding:2rem;
  display:flex;
  width:400px;
  height:100%;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 2px 0px 20px 10px #ccc;
  gap:5px;
}
film > * {
  background-color: #f0f0f0;
  width:100%;
  padding:0.7rem;

}